* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem 3rem 0 3rem;
}
.relative{
    position: relative;
}
.grid img {
    margin: 0.3rem
}
.name{
    color: white;
    position: absolute;
    bottom: 0.5rem;
    left: 0.3rem;
    background-color:rgba(73, 73, 73, 0.363);
}
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 7rem;
  }
.square{
   margin: 1rem;
   
}
.d-flex{
    display: flex;
}
.align-item{
    align-items: center;
    justify-content: space-between;
}
div > i {
    font-size: 3rem;
    margin: 1rem;
    
}
h4{
    text-align: center;
}
.white{
    color: white;
    align-self: center;
    font-weight: 800;
}
.green{
    color: green;
    align-self: center;
    font-weight: 800;
}
.justify-c{
    justify-content: center;
}
#right{
    margin: 1rem;
}
.flex-end{
    justify-content: flex-end;
    gap: 1rem;
    
}
.bg-grey{
    background-color:rgba(255, 255, 255, 0.171);
}
